<div class="row complete-bg">
    <div class="col-2 background-right"></div>
    <div class="col-8">
        <h3 class="h3 text-center">Ein HID-Projekt in der FH Burgenland</h3>
        <h6 class="text-center">
            Eine kleine Angular-App
        </h6>
        <div id="accordion px-5">
            <div class="card border border-5 rounded border-dark shadow-lg  m-3 bg-white rounded">
                <div class="card-header btn" data-bs-toggle="collapse" href="#collapseOne">
                    <h6 class="text-start">Sergiu Lazea (2110859028)</h6>
                </div>
                <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body row">
                        <div class="col-6">
                            <h1>Backend, Statistik, CRUD Backend</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 background-left"></div>
</div>